<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="main-template">
<head>
    <title>Template vuoto</title>
</head>
<body>
   
<div layout:fragment="content">

    <div class="card">
        <div class="card-header card-header-primary">
          <h4 class="card-title">Modifica Profilo Utente</h4>
        </div>
        <div class="card-body">
             <form class="form-horizontal" action="#" th:action="@{/Account/Password}" th:object="${utente}"  method="POST" >
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label class="bmd-label-floating">Email</label>
                      <input readonly="true" type="text" name="txtUsername" class="form-control" th:field="*{username}" >
                    </div>
                  </div>
                </div>
  
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label class="bmd-label-floating">Password</label>
                      <input type="password" th:field="*{password}" name="txtPassword" class="form-control">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label class="bmd-label-floating">Conferma Password</label>
                      <input type="password" name="txtConfirmPassword"  class="form-control">
                    </div>
                  </div>
                </div>
                    
                <button type="submit" class="btn btn-primary pull-right">Aggiorna</button>
                <div class="clearfix"></div>
            </form>
        </div>
    </div>
</div>
</body>
</html>