<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="main-template">
<head>
    <title>Home</title>
</head>
<body>
<div layout:fragment="content">
    <div class="container-fluid">
        <h1>Elenco fatture passive:</h1>
        <table class="table table-sm table-condensed table-hover w-auto">
            <thead>
                <tr class="headings">
                    <th th:each="header: ${headers}" class="column-title th-sm" th:text="${header}" />
                    <td>azione</td>
                </tr>
            </thead>
            <tbody>
                <tr class="even pointer w-50 p-3" th:each="row: ${rows}" id="tablerow">
                    <td th:each="header: ${headers}" th:text="${row.get(header)}" />
                    <td>
                        <a class="btn btn-info btn-xs" th:href="@{'/InvoicesIn/Download/' + ${row.get('Id')}} " >Apri</a>
                        <a class="btn btn-info btn-xs" th:href="@{'/InvoicesIn/Register/' + ${row.get('Id')}} " >Registra</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>