<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="main-template">
<head>
                      
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css"/>
    <link href="/resources/assets/css/material-dashboard.css?v=2.1.1" rel="stylesheet" />
    
<!--    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>-->
    <script src="/resources/assets/js/core/jquery.min.js"></script>
    <script src="/resources/assets/js/core/jquery.min.js" type="text/javascript"></script>
    <script src="/resources/assets/js/core/popper.min.js" type="text/javascript"></script>
    <script src="/resources/assets/js/core/bootstrap-material-design.min.js" type="text/javascript"></script>
    <link  href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css" rel="stylesheet"/>
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
        <title>Home</title>
    <script>
        $(document).ready( function () {
            $('#tabella').DataTable( {
              
                "paging":         false,
                "ordering": true
            } );
        } );
        function openModalRegisterInovice(id){
            $.ajax({
                url:"/InvoiceIn/ModalRegister/"+id,
                success: function(response){
//                    alert(response);
                    $("#contenitoreModal").html(response);
                    $('#contenitoreModal').modal({keyboard:true, show:true});
                }
            });
                     
//        $('#modalRegisterInvoce').html("/InvoiceIn/ModalRegister/"+id);
//        $("#modalRegisterInvoce").show();
        }
    </script>
    
 </head> 
<body>
    <div layout:fragment="content">
        <div class="modal fade" id="contenitoreModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"></div>      

        <div class="container-fluid">
            <h1>Elenco fatture passive:</h1><a class="btn btn-info btn-xs" th:href="@{'/InvoicesIn/New'} " target="nuovoframe" >+</a>
            <table id="tabella" class="table display compact">
                <thead>
                    <tr>
                        <th th:each="header: ${headers}"  th:text="${header}" />
                        <th>azione</th>
                    </tr>
                </thead>
                <tbody>
                    <tr  th:each="row: ${rows}" id="tablerow">
                        <td th:each="header: ${headers}" th:text="${row.get(header)}" />
                        <td>
                            <a type="button" class="btn btn-info" th:href="@{'/Invoice/Download/' + ${row.get('Id')}} " target="_blank" >
                                <i class="material-icons">file_download</i>
                            </a>
                            <a type="button" class="btn btn-danger" th:href="@{'/InvoiceIn/' + ${row.get('Id')}}+'/Payments' "  target="_blank" >
                                <i class="material-icons">attach_money</i>
                            </a>
<!--                            <a type="button" class="btn btn-primary" th:href="@{'/InvoiceIn/Register/' + ${row.get('Id')}} " target="_blank" >
                                <i class="material-icons">mode_edit</i>
                            </a>-->
                            <a type="button" class="btn btn-secondary" th:onclick="'javascript:openModalRegisterInovice(\'' + ${row.get('Id')} +'\');'" >
                                <i class="material-icons">mode_edit</i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table> 
        </div>
    </div> 

</body>
</html>
