<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/0layout"
      layout:decorator="main-template">
<head>
    <title>Home</title>

</head>
<body>
    <div layout:fragment="content">
        <div class="container-fluid">
            <h2>Dettaglio Pagamenti Fattura:</h2>
            
            <table class="table table-sm table-condensed table-hover w-auto">
                <thead>
                    <tr class="headings">
                        <th th:each="header: ${headers}" class="column-title th-sm" th:text="${header}" />
                        <th>azione</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="even pointer" id="tablerow">
                        <td th:each="header: ${headers}" th:text="${fattura.get(header)}" />
                        <td class="td-actions text-left">
                            <a  th:href="@{'/Invoice/Download/' + ${fattura.get('Id')}} " target="_blank" type="button" rel="tooltip" class="btn btn-info" >
                                <i class="material-icons">file_download</i>
                            </a>
                        </td>                        
                    </tr>
                </tbody>
            </table>   
            <h2>Elenco movimenti:</h2>
            <a class="btn btn-info btn-xs" th:href="@{'/Invoice/${fattura.get('Id')}/Payments/Add' + } " target="nuovoframe" >Aggiungi nuovo pagamento</a>
                <table class="table table-sm table-condensed table-hover w-auto">
                    <thead>
                        <tr class="headings">
                            <th class="column-title th-sm">id</th>  
                            <th class="column-title th-sm">data</th>  
                            <th class="column-title th-sm">importo</th>  
                            <th class="column-title th-sm">note</th>  
                            <th class="column-title th-sm">saldato</th>  
                            <th class="column-title th-sm">allegati</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="even pointer w-50 p-3" th:each="x :${listapagamenti}"  id="table2row">
                            <td th:text="${x.id}" />
                            <td th:text="${#dates.format(x.dataVersamento, 'dd-MM-yyyy')}" />
                            <td th:text="${x.importoVersamento}" />
                            <td th:text="${x.note}" />
                            <td th:text="${x.isSaldata()} ?  'Si' : 'No'">yes</td>

                            <td>
<!--                                 <table>
                                     <tr th:each="item : ${x.getListaFilesPagamenti()}" >
                                        <td th:text="${item.id}">1</td>
                                        <td th:text="${item.fileName}">Jack</td>
                                        <td th:text="${item.fileDescription}">23</td>
                                        <td>
                                            <a type="button" class="btn btn-info" th:href="@{'/downloadFile/' + ${item.id}} " >
                                                <i class="material-icons">file_download</i>
                                            </a>
                                        </td>
                                    </tr>
                                </table>-->
                                <div class="list-group">
<!--                                    <li th:each="item : ${x.getListaFilesPagamenti()}" th:text="${item.fileDescription}+ ' - ' + ${item.fileName}">
                                        <a type="button" class="btn btn-info" th:href="@{'/downloadFile/' + ${item.id}} " >
                                                <i class="material-icons">file_download</i>
                                        </a>
                                    </li>-->
                                    <a th:each="item : ${x.getListaFilesPagamenti()}" th:href="@{'/downloadFile/' + ${item.id}}"  th:text="${item.fileDescription}+ ' - ' + ${item.fileName}" class="btn btn-light btn-xs" >Dapibus ac facilisis in</a>
                                    <a class="btn btn-info btn-xs" th:href="@{'/uploadFile' + } " target="nuovoframe" >Aggiungi allegato</a>
                                </div>
                            </td>
                        </tr>
                </tbody>
            </table>
        </div>
    </div> 
</body>
</html>
